---
import Base from "@layouts/Base.astro";
---

<Base title="404 | SNAPS">
  <div
    class="w-full min-h-screen flex flex-col gap-2 items-center justify-center p-8"
  >
    <p>Page not found</p>
    <p>
      Go back to <a href="/" class="text-purple-500 hover:underline">home</a>
    </p>
  </div>
</Base>
